<div>
    <h1 class="welcome_message">WELCOME TO E&C.co.in</h1>
    <p style="font-weight: bold; color:black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis ligula
        ac tortor volutpat imperdiet ac sed arcu. Maecenas a porttitor lorem. Phasellus porta sit amet neque at
        ultricies. Vestibulum vitae posuere ligula. Duis suscipit velit sit amet lorem pellentesque egestas. Vivamus at
        ex suscipit, egestas nulla nec, dictum nisl. Pellentesque sit amet vulputate lorem, sit amet scelerisque ligula.

        Sed eleifend sit amet quam quis tempor. Vestibulum in augue at leo finibus iaculis. Nam eget semper libero.
        Phasellus pretium ex nec dignissim sollicitudin. Cras eget varius arcu. Aliquam viverra ullamcorper lorem sed
        pretium. Vivamus tortor ipsum, ornare sed nulla et, elementum auctor velit. Etiam nisi nisl, suscipit in
        fringilla sed, pharetra et libero. Morbi pulvinar condimentum magna, a condimentum nunc placerat eu. Nullam
        molestie enim in sapien luctus mattis.

        Cras eu neque ac nunc volutpat blandit condimentum quis arcu. Suspendisse potenti. Aenean rhoncus enim eget
        dictum pellentesque. Mauris sed dictum erat. Donec rutrum lacus ut posuere faucibus. Nullam tincidunt posuere
        gravida. Aenean luctus tortor ante, ut convallis felis dapibus quis. Integer semper pulvinar leo quis gravida.
        Quisque imperdiet, nunc eu blandit porttitor, quam tortor tincidunt tortor, ac commodo erat ex id ipsum.</p>
</div>